.btn {
    width: 100%;
    padding: 10px 13px;
    background: linear-gradient(360deg, #38ab00 -21.86%, #3ca17a 130.06%);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background: linear-gradient(360deg, #3ca17a -21.86%, #38ab00 130.06%);
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(56, 171, 0, 0.4);
}

.btn:active {
    background: linear-gradient(360deg, #2f8b00 -21.86%, #358165 130.06%);
}
